<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOMETHING SOMETHING</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 22px;
            padding: 20px;
            letter-spacing: 0.02em;
        }   

        header div.two {
            text-indent: 1.45em;
        }

        header {
            width: fit-content;
            padding: 40px;
        }

        header span.hover {
            display: none;
        }

        header:hover span.hover {
            display: block;
        }

        header:hover span.default {
            display: none;
        }

        main {
            margin: auto;
            padding: 0 20px;
            text-align: left;
            max-width: 600px;
            line-height: 1.2;
        }

        .hoverblack:hover {
            color: white;
            background-color: black;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
        .cn {
            font-size: 0.95em;
            line-height: 1.4;
        }
    </style>
</head>

<body>
    <header>
        <span class="hover">
            SOMETHING
            <div class="two">
                SOMETHING
            </div>
        </span>

        <span class="default">
            STH
            <div class="two">
                STH.org
            </div>
        </span>
    </header>
<br>
    <main>
        From: Mianwei Wang <span class="hoverblack">[mianwei.wang@gmail.com]</span> <br>
        May 27, 2021 at 6:56:22 PM EDT <br><br>
        <div class="eng">
            Dear visitor,
            <br><br>
            How are you? I’m so happy to see you here. This is a current placeholder for a publishing unit that is in the pipeline.
            Many things are uncertain at this point, but one is confirmed: a place for nourishing all kinds of creativities,
            active or passive, participatory or autonomous, remix or orginal, digital or physical.
            <br><br>
            When I found out that ISBN is the fact of free speech in most countries,
            I suddenly realized that why bookstores are wore off from Chinese markets. The market only distributes a fixed amount of ISBNs every year to a relatively fixed community of authorized publishers. So there is no such thing of writers can talk over the publishers, but creators beg to distribute their works and ideas into the public space. By the time when I worked with a
            contemporary gallery to publish a book in Beijing, it almost took the editor a year to get the book checked
            from the authorities, and though all the editing and design works were finished, we couldn’t get the book to
            print but prolonged waiting for that ISBN.
            <br><br>
            So it’s surprising for me that ISBN is purchaseable in markets out there, the symbolic string of digits that
            could represent the individual autonomy for creativity as well as communication. You still need to pay for
            the International Standard Book Number in the U.S., but guess what, that’s the ticket for all of us to join
            in this huge pool of entire human heritage.
            <br><br>
            I really hope to see you again, soon. And write me back if you’d be ever interested in publishing any of
            your works. Let’s get some of those non-sense digits!
            <br><br>
            <a href="mailto: mianwei.wang@gmail.com"><span class="reply hoverblack">[reply]</span></a>
        </div>
        <br><br><br>
        <div class="cn">
            亲爱的朋友，
            <br><br>
            你好！真高兴在这里见到你。STHSTH.org是一个正在筹备中的出版单位，目前许多事情都还在构思当中，但有一点是确定的：这是一个释放各样创造能量的地方，无论是主动的还是被动的，参与性的或自主的，再混合的或原创的，数字的或实体的。
            <br><br>
            当我发现ISBN在大多数国家是言论自由的一部分时，我突然意识到，为什么书店会在国内市场渐渐消失殆尽。出版管理部门每年只分配固定数量的ISBN给一个相对固定的授权出版商群体，而2020年全国出版社书号再次缩减15%–30%。 所以在中国，不存在作家可以越过出版商说话的问题，而创作者却要乞求将他们的作品和想法传播到公共空间。几年前，当我为北京的一个当代画廊做一本书的时候，编辑几乎花了一年的时间才从当局那里通过审查，虽然所有的编辑和设计工作都已完成，项目却必须被放在一边以漫长地等待那个ISBN。
            <br><br>
            所以，ISBN在大多数国家是可以自由购买的使我十分惊诧，这一小串象征性的数字代表着个人对创造力以及交流的自主权。在美国，你仍然需要为国际标准书号付费，但你猜怎么着，这是我们所有人加入这个巨大的人类遗产库的门票。
            <br><br>
            我真的希望能再次见到你，很快。并且如果你有兴趣出版你的任何作品，请给我回信，让我们一起占据一些无意义的数字串!
            <br><br>

            <a href="mailto: mianwei.wang@gmail.com"><span class="reply hoverblack">[回复]</span></a>

        </div>
    </main>
</body>

</html>