---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Something Something ORG">
  <main>
      <div class="cell"><Logo /></div>
  </main>

  <div class="progress">
    <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
  </div>
  
</Layout>

<style lang="scss">
  body,
  main {
    height: 100vh;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .cell {
    width:100%;
    overflow: visible;
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-out {
    animation-name: fadeout;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
  }
</style>

<script async>
const header = document.querySelectorAll("header");
const longSpan = document.querySelectorAll("span.long");
const shortSpan = document.querySelectorAll("span.short");
// const grid = document.querySelector(".grid");

header.forEach((ele, i) => {
    ele.addEventListener("click", function () {
        longSpan[i].classList.toggle("is-shown");
        shortSpan[i].classList.toggle("is-shown");
    });
});

// grid.addEventListener("click", function () {
//     this.classList.add("fade-out");
//     setTimeout(function () {
//         grid.remove();
//     }, 1200);
// });
</script>
