<header>
  <span class="long">
    SOMETHING
    <div class="two">SOMETHING</div>
  </span>

  <span class="short is-shown">
    STH
    <div class="two">STH.org</div>
  </span>
</header>

<style lang="scss">
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

//   header div.two {
//     text-indent: 1.45em;
//   }

  header {
    width: fit-content;
    font-size: var(	--logo-type-size);
    letter-spacing: 0.02em;
  }

  .long,
  .short {
    display: none;

    &.is-shown {
      display: block;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  .cn {
    font-size: 0.95em;
    line-height: 1.4;
  }
</style>
