body {
  margin: 0;
  align-items: center;
  background-color: rgb(16,16,16);
}


img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.greenlight {
  position: absolute;
  top: 75%;
  left: 68%;

  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: black;

  animation-name: breathe, swim, swim-vertical;
  animation-duration: 6s, 30s, 60s;
  animation-delay: 0, -4.6s, -3.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal, alternate, alternate;
}


@keyframes swim {
  0% {
    left: 37vw;
  }
  50% {
    left: 64vw;
  }
  100% {
    left: 49vw;
  }
}

@keyframes swim-vertical {
  0% {
    top: 50vh;
  }

  50% {
    top: 74vh;
  }

  100% {
    top: 12vh;
  }
}


@keyframes breathe {
  0% {
    background-color: black;
    box-shadow: 0 0 4px 8px black;
    opacity: 0;
  }
  25% {
    background-color: lime;
    box-shadow: 0 0 8px 12px lime;
    opacity: 1;
  }
  35% {
    background-color: lime;
    box-shadow: 0 0 8px 12px lime;
    opacity: 1;
  }
  60% {
    background-color: black;
    box-shadow: 0 0 4px 8px black;
    opacity: 0;
  }
  100% {
    background-color: black;
    box-shadow: 0 0 4px 8px black;
    opacity: 0;
  }
 }
