* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

:root {
    --logo-type-size: 60px;

    @media screen and (max-width: 1024px) {
        --logo-type-size: 60px;
    }

    @media screen and (max-width: 600px) {
        --logo-type-size: 33px;
    }

}


html {
    font-family    : Helvetica, system-ui, sans-serif;
    font-weight    : bold;
    background-size: 224px;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}